<nav>
<div style="margin:auto; width:var(--def-width);">
<a href="/" style="float:left; display:flex; align-items:center;">
  <img src="logo.png" alt="logo" style="width:64px;">
  <h1 class="big-text" style="display:inline; padding-left:10px; color:var(--alt-color);">
    HomeMath
  </h1>
</a>
</div>
</nav>
