<main style="margin-top:10%;">
  <div class="section-container">
  <section class="shadow">
    <div class="content">
      <h1 class="main-text">New?</h1>
      <h2 class="sub-text" style="margin-bottom:10%;">Are you a student or a teacher?</h2>
      <a href="/register-student" style="padding-right:7%;" class="circle-icon">
        <img src="icon_student.png" alt="Student icon" style="width:100px;" class="pop">
      </a>
      <a href="/register-instructor" style="padding-left:7%;" class="circle-icon">
        <img src="icon_teacher.png" alt="Teacher icon" style="width:100px;" class="pop">
      </a>
    </div>
  </section>
  <section class="shadow">
    <div class="content">
      <h1 class="main-text">Already have an account?</h1>
      <!--
        This displays an express-flash message if the username or password
        is incorrect.
      -->
        <% if (messages.error) { %>
          <%- '<p class="sub-text" style="margin-bottom:1em;">' %>
            <%= messages.error %>
          <%- '</p>' %>
        <% } else { %>
          <%- '<br><br>' %>
        <% } %>
      <form action="/login" method="POST">
        <div class="input-line">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" minlength=4 required>
        </div>
        <div class="input-line">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" minlength=8 required>
        </div>
        <button type="submit" class="pop">Login</button>
      </form>
    </div>
  </section>
  </div>
</main>
