<%- include('template-start.ejs'); -%>
<title>Login - HomeMath</title>
<style>
main {
}
section {
  height: 100%;
  width: 100%;
  text-align: center;
}
.container {
  display: grid;
  height: 19em;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3em;
}
.content {
  margin-top: 10%;
  height: 80%;
}
</style>
</head>
<body>

<%- include('nav.ejs'); -%>
<main>
  <div class="container">
  <section>
    <div class="content">
      <h1 class="main-text">New?</h1>
      <h2 class="sub-text" style="margin-bottom:15%;">Are you a student or a teacher?</h2>
      <button type="button" disabled>
      <form action="/register" method="GET">
        <button type="submit">
      </form>
    </div>
  </section>
  <section>
    <div class="content">
      <h1 class="main-text" style="margin-bottom:7%;">Already have an account?</h1>
      <!--
        This displays an express-flash message if the username or password
        is incorrect.
      -->
        <% if (messages.error) { %>
          <%= messages.error %>
        <% } %>
      <form action="/login" method="POST">
        <div class="input-line">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" minlength=4 required>
        </div>
        <div class="input-line">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" minlength=8 required>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </section>
  </div>
</main>

</body>
</html>
