<nav style="display:block; background-color:blue; height:70px;">
<div>
<a href="/">
  <div style="margin:auto; width:var(--def-width);">
    <img src="" alt="logo" style="width:60px; height:60px; float:left;">
    <h1 style="float:left;">HomeMath</h1>
  </div>
</a>
</div>
</nav>
