<!--Header nav bar-->
<div class="masthead noselect">
	<div class="wrapper">

		<div class="menu2">
			<a href="#" class="menuitem2">
				<img src="https://i.imgur.com/9sADg94.png" width="64px">
				<p style="font-size: 25px;">HomeMath</p>
			</a>
		</div>
		
	</div>
</div>
<!--Header nav bar end-->