<main>

<%- include('student_header.ejs'); %>

<section class="shadow" style="min-height:615px; padding-bottom: 30px">
  <div class="menu">
    <div class="title">
      <img src="https://cultofthepartyparrot.com/parrots/hd/originalparrot.gif" class="trophyicon pop">
      <h2 class="menuitem" style="padding-left:10px;">Parrots</h2>
    </div>
  </div>
  <div class="grid">
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 1</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 2</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 3</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 4</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 1</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 2</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 3</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 4</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 1</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 2</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 3</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 4</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 1</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 2</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 3</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 4</h3>
    </a>
    <a href="#">
      <img src="https://cultofthepartyparrot.com/parrots/hd/kindasusparrot.gif" alt="Work icon" class="appicon shadow">
      <h3>Parrot 4</h3>
    </a>
  </div>
</section>

<br />

</main>
