<!-- The top bar on each page of the student view. -->
<section class="shadow noselect" style="margin-bottom:10px;">
  <div class="menu">
    <h1 style="font-size:80px;color:var(--off-color);">80</h1>
    <h3 class="trophyitem">/100</h3>

    <img src="trophy_blue.png" alt="Blue trophy icon" class="menuitem pop">
    <h3 class="trophyitem">x2</h3>

    <img src="trophy_green.png" alt="Green trophy icon" class="menuitem pop">
    <h3 class="trophyitem">x2</h3>

    <img src="trophy_purple.png" alt="Purple trophy icon" class="menuitem pop">
    <h3 class="trophyitem">x2</h3>

    <img src="trophy_gold.png" alt="Gold trophy icon" class="menuitem pop">
    <h3 class="trophyitem">x2</h3>

    <h3 class="menuitem" style="align-items:right;font-size:25px;padding-left:10px;">Mr. Morabito's Class</h3>
  </div>
</section>
