<main>



<section class="shadow" style="height:300px;">

    <div class="topmenu">
      <div class="rightcol">
        
        <div class="heading">
          <h2>Assignments</h2>
          <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop">
        </div>

        <table>
          <tr>
            <th>Due</th>
            <th>Name</th>
            <th>Completed</th>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

        </table>

      </div>
      <div class="leftcol">
        
        <div class="heading">
          <h2>Resources</h2>
          <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop">
        </div>

        <table>
          <tr>
            <th>Created</th>
            <th>Name</th>
            <th>Views</th>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="practice"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

        </table>

      </div>
    </div>

    </section>

    <br />

    <section class="shadow" style="height:435px;">

      <div class="topmenu">

        <div class="rightcol" style="width: 100%; height: 400px;">
          <div class="heading">
            <h2>Students</h2>
            <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop">
          </div>

          <table class="student_table">

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

            <tr>
              <td class="student_name">Nick Ribeiro</td>
              <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
              <td class="trophy_count">x2</td>
              <td class="pop print noselect"><p>Print</p></td>
              <td class="student_grade">80%</td>
            </tr>

          </table>

        </div>

      </div>

    </section>