<main>



<section class="shadow" style="min-height:615px;">

    <div class="menu">
      <!--Topic/question title-->
      <h2 class="menuitem" style="padding-left:10px;">Number and Operations - Fractions/Division</h2>

      <!--Work page navigation
      <div class="assignmentnav menuitem">
        <a href="#" class="menuitem arrowglyph pop noselect" style="color: #525252">🡄</a>
        <a href="#" class="menuitem arrowglyph pop noselect" style="color: #525252">🡆</a>
      </div>-->
    </div>


    <!--Question image-->
    <div class="player">
      
      <div class="video">
        <iframe class="shadow" width="620" height="348.75" src="https://www.youtube.com/embed/mGvunan-I-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="description">
          <h3>Description:</h3>
          <h3>This is a quick tutorial on how to divide numbers. It will also serve as an introduction to fractions.</h3>
        </div>

      </div>


      <div class="videolist">
        <div class="mcanswer pop noselect">Multiplication 1</div>
        <div class="mcanswer pop noselect">Addition 1</div>
        <div class="mcanswer pop noselect">Subtraction 1</div>
        <div class="mcanswer pop noselect">Multiplication 1</div>
        <div class="mcanswer pop noselect">Addition 1</div>
        <div class="mcanswer pop noselect">Subtraction 1</div>
        <div class="mcanswer pop noselect">Multiplication 1</div>
        <div class="mcanswer pop noselect">Addition 1</div>
        <div class="mcanswer pop noselect">Subtraction 1</div>
        <div class="mcanswer pop noselect">Multiplication 1</div>
        <div class="mcanswer pop noselect">Addition 1</div>
        <div class="mcanswer pop noselect">Subtraction 1</div>
      </div>

    </div>


    </section>
    <br />