/* global variables to make tweaking stuff across the whole site easier */
:root {
  --def-color: black;     /* default text color */
  --off-color: #525252;   /* slightly "off" from (lighter than) the default */
  --alt-color: white;     /* used for dark backgrounds */

  --bg-color: white;      /* normal background color */
  --lite-fg-color: lightgray;   /* elements on white background (e.g. input fields) */
  --lighter-fg-color: #d9d9d9;
  --hl1-color: #1c3182;   /* "stand-out" color (blue) */
  --hl2-color: #0d1d5c;   /* darker */
  --hl3-color: black;     /* even darker */

  --big-shadow: 0px 0px 34px 0px rgba(0,0,0,0.3);
  --small-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

  --tr-time: 0.2s;      /* standard length of transitions */

  --def-width: 1000px;  /* max width of nav content + main content */
  --def-top-margin: 10px;   /* usual space between nav and main content */
  --butt-height: 25px;  /* height of buttons and input lines */
}

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
}
/*
html, body {
	height: 100vh;
}
*/
body {
  font-family: Arial, sans-serif;
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}
img {
  vertical-align: middle;
}
label {
  display: block;
}
input {
  width: 50%;
  height: var(--butt-height);
  background-color: var(--lite-fg-color);
  border-style: none;
  border-radius: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  transition: var(--tr-time);
}
input:hover {
	box-shadow: var(--small-shadow);
}
input:focus {
  outline: none;
  background-color: var(--lighter-fg-color);
	-webkit-box-shadow: var(--small-shadow);
	-moz-box-shadow: var(--small-shadow);
	box-shadow: var(--small-shadow);
}
button {
  width: calc(var(--butt-height) * 3);
  height: var(--butt-height);
  background-color: var(--hl1-color);
  color: var(--alt-color);
  font-size: 12px;
  border-style: none;
  border-radius: 1em;
  cursor: pointer;
  transition: var(--tr-time);
}
button:hover {
  background-color: var(--hl2-color);
}
a, a:visited {
  text-decoration: none;
  color: var(--alt-color);
}
h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
}

/* SEMANTIC ELEMENTS */
/* The elements main, section, etc. have predefined (intended) uses in HTML.
 * They're pretty cool because if our website were live, then these elements
 * would make it easier to parse with screen readers or web crawlers. */
nav {
  display: flex;
  align-items: center;
  background-color: var(--hl1-color);
  height: 78px;
  /* margin-bottom: 10px; */
}
/* invisible box containing all the main content in each page */
main {
  margin: auto;
  margin-top: var(--def-top-margin);
  height: 100%;
  max-width: var(--def-width);
}
/* white panels/boxes containing the main content in each page */
section {
  margin: auto;
  vertical-align: middle;
  background-color: var(--bg-color);
  opacity: 0.95;
  border-radius: 25px;
}

/* CLASSES */
/* big labels on student home page + settings page */
.big-text {
  font-size: 24px;
}
/* mostly labels */
.main-text {
  font-size: 18px;
}
/* complements main text on login page */
.sub-text {
  font-size: 18px;
  color: var(--off-color);
}
/* mostly button text */
.small-text {
  font-size: 12px;
}
/* form fields in the login/register pages */
.input-line {
  margin-bottom: 7%;
}
/* generic class for anything that should "pop" when hovered over */
.pop {
  transition: var(--tr-time);
}
.pop:hover {
  transform: scale(1.05);
}
.pop:active {
  transform: scale(0.98);
}

/* generic class for anything whose text should not be highlight-able */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* generic class for stuff with drop shadows */
.shadow {
	-webkit-box-shadow: var(--big-shadow);
	-moz-box-shadow: var(--big-shadow);
	box-shadow: var(--big-shadow);
}
/* appicon grid */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	text-align: center;
	/*grid-template-columns: repeat(auto-fit, minmax(140px, 430px));*/
}
/* generic class for something that is highlighted (dark blue) */
.highlighted {
	background-color: var(--hl2-color);
}
/* items in the nav */
.menu2 {
	height: 78px;
	color: white;
	display: inline-flex;
}
.menuitem2 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding: 0px 15px;
	transition: var(--tr-time);
}
.menuitem2:hover {
	background-color: var(--hl2-color);
}
/* properties of images in the nav */
.logo {
	width: 48px;
	padding: 10px 0px;
}
/* items within the student header (formerly trophy bar) */
.trophyitem {
  justify-content: center;
  align-items: end;
  display: inline-flex;
  padding: 0px 5px;
}
.trophyicon {
  height: 72px;
  margin: 3px 0px;
}
.stats {
  width: 70%;
  display: inline-flex;
}