section {
  height: 100%;
  width: 100%;
  text-align: center;
}
.section-container {
  display: grid;
  height: 19em;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3em;
}
.content {
  margin-top: 10%;
  height: 80%;
}
