h2 {
	color: var(--off-color);
	font-size: 32px;
	font-weight: 500;
}
h3 {
	color: var(--off-color);
	font-size: 25px;
	font-weight: 500;
	padding: 10px 0px;
}
.menu {
	height: 78px;
	color: white;
	display: inline-flex;
	padding: 25px 20px;
	width: 960px;
	justify-content: space-between;
}
.menuitem {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5px;
}
.appicon {
	border-radius: 30px;
	transition: 0.2s;
}
.appicon:hover {
	transform: scale(1.05);
}
.appicon:active {
	transform: scale(1.0);
}

.assignmentnav {
	height: 65px;
}

.duedate {
	color: white;
	background-color: #ccb03c;
	border-radius: 20px;
	height: 40px;
	padding: 0px 20px;
	margin-top: 10px;
}

.arrowglyph {
	height: 70px;
	font-size: 80px;
}

.answerfield, .submitanswer, .mcanswer {
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 30px;
}

.answerfield, .mcgrid {
	width: 78%;
}

.submitanswer {
	background-color: #3ccc62;
	width: 15%;
	height: 45px;
}
.submitanswer:hover {
	background-color: #22a344;
}

.question {
	height: 398px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 1000px;
}

.questionimage {
	text-align: center;
}

.mcgrid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-column-gap: 10px;
}

.mcanswer, .mctile {
	color: black;
	background-color: var(--lite-fg-color);
}
.mcanswer:hover, .mctile:hover {
	background-color: #bdbdbd;
}
.mcanswer:active, .mctile:active, .radio__input:checked + .mcanswer, .radio__input:checked + .mctile {
	color: white;
	background-color: var(--hl1-color);
}

.mctile {
	display: inline-flex;
	font-size: 85px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100%;
}

.radio__input {
	display: none;
}